/* 다크모드 전체 배경/텍스트 색 변경 */
body.darkmode {
  background-color: #121212;
  color: #f1f1f1;
}

/* 챗박스 배경 */
body.darkmode .chat-container {
  background-color: #1e1e1e;
}

/* 사용자 메시지 */
body.darkmode .user-message {
  background-color: #333;
  color: white;
}

/* 챗봇 메시지 */
body.darkmode .bot-message {
  background-color: #2c2c2c;
  color: white;
}

/* 헤더 */
body.darkmode .chat-header {
  background-color: #1a1a1a;
  color: white;
}

/* 설정창 */
body.darkmode .settings-panel {
  background-color: #2a2a2a;
  border-color: #666;
  color: white;
}

body.darkmode .darkmode-setting,
body.darkmode .font-size-setting {
  color: #f1f1f1;
}


/* 설정창 내 슬라이더 */
body.darkmode input[type="range"] {
  background: #498193;
}


