# conda create -n HUFS-OOS-cs-student-ragbot python=3.10
# conda activate HUFS-OOS-cs-student-ragbot
# pip install -r requirements.txt

openai
python-dotenv
PyYAML
numpy
nbformat
streamlit
pandas
pillow